#directory
logs/
.idea/
utils/
*/data/input/
*/data/working/
*/data/output/
src/stat_model/data/
src/stat_model/feature/data/
src/stat_model/output/
src/config/local/
src/config/real/
src/config/test/
src/stat_model/model/model_dir/
src/sync/
*/src/stat_model/regression/data/
*/src/stat_model/regression/output/
# file
*.key
*.pptx
*.numbers
*.xlsx
*.pyc
*.log
*.cfg
*.txt
*.xls
*.csv
*.pkl
*.npy
*.tsv
*.png
*.jpg

